#chat_window {
}

.sidebar-section {
    min-width: 150px;
    /*background: #142d4c;*/
    background: #385170;
}

.sidebar-header {
}

.notifs-button {
}

#notifs_popover {
}

.title-sidebar {
    color: white;
}

.chats-list {
}

.main-content {
    min-width: 350px;
    /*background: #385170;*/
    background: #dbe7f0;
}
