.public-header, .user-header, .room-header {
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
}

.public-header:hover,
.user-header:hover,
.room-header:hover {
}

.public_users_count, .user_status_label, .room_users_count {

}

.dialog-overlay {
  background-color: rgba(0, 0, 0, 0.2);
}

.dialog-content {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  padding: 20px;
}

