.custom-header {
    background: #1E3C72;
    color: white;
    font-weight: bold;
    border-bottom: 1px solid #2A5298;
}

.custom-header button {
    background: transparent;
    border-radius: 50px;
    color: white;
}

.custom-header button:hover {
    background: rgba(255,255,255,0.2);
}

.connect-form {
    padding: 40px 20px;
}

.labels-form {
    font-family: 'Montserrat', sans-serif;
}

.entries-form {
    background-color: #ffffff;
    border-radius: 0px;
    border: 1px solid #ccc;
    padding: 8px 25px;
    font-size: 14px;
    color: #333333;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: all 0.2s ease-in-out;
}

.entries-form:hover,
.entries-form:focus {
    border-color: #7AAAFF;
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.entries-form placeholder {
    color: #aaa;
    font-style: italic;
}

.entries-form:active {
    background-color: #F9F9F9;
}

.connect-button {
    font-family: 'Montserrat', sans-serif;
    border-radius: 16px;
    border: 1px solid #2A5298;
    background: #2A5298;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 50px;
    letter-spacing: 1px;
    transition: background-color 300ms ease,
                color 300ms ease,
                border-color 300ms ease,
                transform 80ms ease-in;
}

.connect-button:hover {
    border: 1px solid #2A5298;
    color: #2A5298;
    background: white;
}

.connect-button:active {
    border: 1px solid #1E3C72;
    background: #1E3C72;
    color: white;
}

.connect-button:disabled {
    color: #ddd;
    opacity: 0.6;
}

.quit-button {
    font-family: 'Montserrat', sans-serif;
    border-radius: 16px;
    border: 1px solid #2A5298;
    background-color: transparent;
    color: #2A5298;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: background-color 300ms ease,
                color 300ms ease,
                border-color 300ms ease,
                transform 80ms ease-in;
}

.quit-button:hover {
    background: #2A5298;
    color: white;
}

.quit-button:active {
    border: 1px solid #1E3C72;
    background: transparent;
    color: #1E3C72;
}

.quit-button:disabled {
    color: #aaa;
    border-color: #aaa;
    opacity: 0.6;
}
